body{
  font-family: 'Montserrat', sans-serif;
}

/* Reset */
 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

html,
body,
div{
  margin: 0;
  padding: 0;
  color : #305252ff;
}

#header img {
  display : inline-block;
  margin : 10px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#profile {
  border-radius: 50%;
  float: left;
  margin : 20px;
 }
 
#header{
  background: #41A2BA;
  text-align: center;
  height: 100%;
}

.site-title a{
  text-decoration: none;
  font-variant: small-caps;
  font-size: 30px;
  color : rgb(255, 255, 255);
}

.site-description {
  color : rgb(255, 255, 255);
}

.site-title a:link {
  text-decoration: none;
}

.site-title a:visited {
  text-decoration: none;
}

.site-title a:hover {
  text-decoration: none;
}

.site-title a:active {
  text-decoration: none;
}

#header ul {
  margin-left : -30px;
}

#header ul li {
  list-style: none;
}

#main{
  background: rgb(255, 255, 255);
  height: 100%;   
}

/* #secondary {
  border: 1px solid #ffffff;
} */

/* Structure Mobile */

.wrap{
  max-width: 1140px;
  margin: 0 auto;
  padding: 1em;
}

body h1 h2 h3 {
  color : #21976B;
}

.wrap:after {
  content: "";
  display: table;
  clear: both;
}

#primary{
  max-width: 720px;
  margin: 0 auto;
}
/* 
#secondary{
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
} */

/* Header on the left */
 
@media screen and (min-width : 900px) {
  #header{
      top: 40%;
      left: 0;
      bottom : fill-available;
      width: 350px;
      position: fixed;  
    }

  body{
      border-left: 350px solid #41A2BA;
  }
  main{
    bottom : fill-available;
    height: 100%;
  }
}
